.btn {
  width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
}

.btn:hover {
  background-color: lightgray;
  transition: .2s ease-in-out;
}